*{
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 0px;
    background-color: rgba(165, 97, 55, 0.401);

}

.btAlterar{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png);
    background-size: 100%;
    border: none;
}
 
.btExcluir{
    display: block;
    width: 30px;
    height: 25px;
    background-image: url(https://w7.pngwing.com/pngs/924/281/png-transparent-button-delete-key-icon-warning-icons-text-sign-area.png);
    background-size: 100%;
}

